.main{
    width:100vw;
    height: 80vh;
     background-image: url("netflixlogo_files/img_bg.jpg");
     background-position: center;
    
    
}
.main .box{
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.69;
    background-size: max(1200px,100px);
}
nav{
    padding: 0 130px;
    background-color:black;
    opacity: 0.69;
    max-width: 80vw;
    height: 62px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav img{

    color: red;
    width: 203px;
    position: relative;
    z-index: 10;
}
nav button{
    padding: 3px 8px;
    font-weight: 400;
    position: relative;
    z-index: 10;
    background-color: rgb(23, 23, 23,0.2);
    color: white;
    border-radius: 6px;
    font-size: 20px;

}
.btn{
    padding: 10px 10px;
    font-weight: 400;
    position: relative;
    z-index: 10;
    background-color: red;
    border-radius: 6px;
    color: white;
    font-size: 20px;
}
.hero{
    height:calc(100%-62px);
    width: 100%;
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px ;
    padding-top: 130px;
}
.hero .lang1{

    font-size: 60px;
    font-weight:bolder;
    gap: 23px;
    color: white;
}
.hero .lang2{
    font-size: 24px;
    font-weight: 400;
    color: white;
}
.hero .lang3{
    font-size: 20px;
    font-weight: 200;
    color: white;
}
.line{
    height: 4px;
    background-color: rgb(84, 83, 83);
}
 input{
    padding: 10px 10px;
    color:white; 
    background-color: rgba(23, 23,23, 0.2);
    border-radius: 4px; 
    font-size: 20px;
}
.first{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
body{
    background-color: black;
}
 .img{
    position: relative;
    z-index: 10;
   
}
.first .video{
    top:87px;
    left: 74px;
    position: absolute;
}
.cont{
    color: white;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.first :nth-child(1){
    font-size: 48px;
    font-weight: 400;
}
.first :nth-child(2){
    font-size: 24px;

}
.faq1{
    padding: 34px;
    color:white;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}

.faqbox {
    margin: 15px auto;
    padding-top: 5px;
    font-size: 24px;
    color: white;
    text-align: left;
    cursor: pointer;
    height: 55px;
    width: 80vw;
    background-color:rgb(44, 44, 44) ;
}
.faqbox:hover{
    background-color: #414141;
}
.last{
    transition: all 2s;
    margin-top: 20px;
    padding-top: 10px;
    color: white;
    font-size: 24px;
    text-align: center;
}
.inp{
    margin: 10px 20px;
text-align: center;
}
ul li{
    list-style:none;
    color: white;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 2px;
}
.grid{
    text-align: center;
}
.que{
    padding:0 100px ;
    text-align: left;
    color: white;
}